<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GoDeep Mobile - Organizations</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="organizations">
          <table>
            <tr>
              <th>Name</th>
              <th>Short Name</th>
              <th>ESPN Name</th>
              <th>Mascot</th>
              <th>Conference</th>
              <th>Organization Type</th>
            </tr>
             {{#each organization in model}}
              <tr>
                <td>{{organization.name}}</td>
                <td>{{organization.short_name}}</td>
                <td>{{organization.espn_name}}</td>
                <td>{{organization.mascot}}</td>
                <td>{{organization.go_conference_id.name}}</td>
                <td>{{organization.go_organization_type_id.name}}</td>
              </tr>
            {{/each}}
          </table>
    </script>

    <script src="js/libs/jquery-1.11.1.min.js"></script>
    <script src="js/libs/handlebars-v1.3.0.js"></script>
    <script src="js/libs/ember.js"></script>
    <script src="js/libs/ember-data.js"></script>
    <script src="js/libs/localstorage_adapter.js"></script>
    <script src="js/application.js"></script>
    <script src="js/router.js"></script>
    <script src="js/models/organizationType.js"></script>
    <script src="js/models/conference.js"></script>
    <script src="js/models/organization.js"></script>
    <script src="js/controllers/todos_controller.js"></script>
    <script src="js/controllers/todo_controller.js"></script>
    <script src="js/views/edit_todo_view.js"></script>
  </body>
</html>