body{
	font-family: arial, verdana;
}

table {
	background-color: #FFF;
	width: 800px;
	left: 50%;
	position: relative;
	margin-left: -400px;
}
th {
	background-color: #CCC;	
}

td, th {
	padding: 10px;
	border-bottom: solid 2px #ccc;
}
